header {
  display: flex;
  justify-content: space-between;
  background-color: black;
  margin-left: 10px;
  border-bottom: 1px solid seashell;
}
nav {
  display: flex;
}
header a {

}

body {
  font-family: helvetica;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
}
