/* header*/

header {
  display: flex;
  justify-content: space-between;
  background-color: black;
  border-bottom: 1px solid seashell;
  height: 69px;
  position: fixed;
  z-index: 1;
  width: 100%;
}
nav {
  display: flex;
  height: auto;
  width: 400px;
  justify-content: space-between;
}
nav a{
  margin: auto;
  color: seashell;
}
header img {
  margin: 10px 10px;
  height: 50px;

}

/* main body */

body {
  font-family: helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
  align-items: center;
  margin-top: 0px;
}

/* first section*/

.section.one{
  display: flex;
  padding-top: 70px;
}

.missionpic {
  background-image: url(../images/background.jpg);
  background-repeat: no-repeat;
  height: 700px;
  margin: auto;
}

.mission {
  background-color: black;
  width: 1200px;
  z-index: 1;
  margin-top: 315px;
  border: 1px solid black;
}
.mission h2{
  margin-top: 10px;
}

/* 2nd section */
.month {
  width: 1000px;
  margin: auto;
  padding: 50px 0px;
}

.teatypes {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}
.picture img {
  height: 200px;
  width: 300px;
  padding: 10px 10px;
}
.picture h4 {
  margin: 0px 0px;
}

/* Locations */

.locationflexcontainer {
  background-image: url(../images/locations.jpg);
  height: 500px;
  background-repeat: no-repeat;
  margin: auto;
  background-position: center;
  padding-top: 75px;
}

.flexcontainer{
  display: flex;
  justify-content: center;
}
.flexlocation{
  background-color: black;
  width: 300px;
  height: auto;
  margin: 7px 20px;
}

/* footer */

.copyright {
  text-align: left;
  padding-left: 20px;
}
